<h1>Welcome to the About Us</h1>

<%= image_tag "ERD.png", height: 300 %>



<%= image_tag "recipeIngredients.png", height: 300 %>
<h6>web scraped data from allrecipes.com put csv file.</h6>


<p>We used Faker for the count of the  inidividual ingredients and calories</p>