<h3>Your query of "<%= @query %>" has returned <%= pluralize(@recipes.count, 'results') %>.</h3>

<div class="recipe-grid">
    <% @recipes.each do |recipe| %>
      <div class="recipe-item">
        <p><%= link_to recipe.name, recipe %></p>
        <img src="<%= recipe.image %>" width="200" height="200">
      </div>
    <% end %>
  </div>