<h3>Your query of "<%= @query %>" has returned <%= pluralize(@recipes.count, 'results') %>.</h3>

<div class="recipe-grid">
  <%= render @recipes %>
</div>

<div class="pagination">
  <%= paginate @recipes %>
</div>