<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag 'application', media: 'all' %>
</head>
<body>
  <h2>All Recipes</h2>
  <div class="recipe-grid">
    <%= render @recipes %>
  </div>
</body>
</html>