body {
  margin: 0;
  padding: 0;
}

/* Header styles */
h1 {
  text-align: center;
  background-color: #e0098600;
  color: #fff;
  padding: 20px;
}

h2 {
  text-align: center;
}

/* Grid container styles */
.recipe-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Create columns with a minimum width of 200px */
  gap: 20px; /* Gap between grid items */
  justify-content: center; /* Center the grid items horizontally */
  padding: 20px;

}

/* Grid item styles */
.recipe-item {
  text-align: center;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 20px;
}

/* Link styles */
a {
  text-decoration: none;
  color: #333333;
}

/* Image styles */
img {
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}

.center-bold {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  text-align: center;
  height: 100%;
}